@model Exclimmo2016.Models.Pand

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pand</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Soort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactieType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactieType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Beschrijving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beschrijving)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Locatie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Locatie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
